.content-trends .doclist .documents .filename span.title {
	background: none;
}

.content-trends .doclist .documents .filename {
	/** Same size as in my-sites */
	font-size: 108%;
}

.content-trends .doclist .documents,
.content-trends .doclist .doclist-bar
{
	margin: 0;
}

.content-trends .doclist .sort-direction span.first-child
{
	background-position: 4px 50%;
	padding-left: 16px;
}

.content-trends .doclist .documents
{
	clear: both;
}

.content-trends .doclist .doclist-bar
{
	width: 100%;
	float: left;
}

.content-trends .doclist .doclist-bar-bottom
{
    display: block;
}

.content-trends .doclist .doclist-bar .sort-field
{
	float:right;
}

.content-trends .doclist div.simple-trends a.action-link span,
.content-trends .doclist div.simple-trends a.simple-link span
{
	display: none;
}

.content-trends .doclist div.simple-trends div
{
	float: left;
}